{% extends 'core/base.html' %}

{% load static %}

{% block content %}

<hr>
  <div class="p_about">
    <u><h1>Mision  </h1></u>
    <br>
    <p class="Nosotros">
    

      Proporcionar un buen servicio de mantenimiento automotriz en general, <br>
       conservando los autos de nuestros clientes en un estado de operación eficiente y seguro, <br>
       satisfaciendo sus necesidades y expectativas en el mejor tiempo posible. <br>
        A sabiendas de que usted y su vehículo son lo más importante.
    </p>
    <br>
    <u><h2> Vision</h2></u>
    <p class="seg_p">
      Llegar a ser el taller líder y confiable a nivel zona, en los próximos 3 años, <br>
       una vez cumplido ese objetivo mantenernos como los mejores en el mercado, <br>
        ofreciendo el servicio para automóviles modernos y unidades diésel, <br>
      siendo reconocidos por la calidad en nuestros servicios, honestidad y precios justos.
    </p>
    <br>
    <u><h2>Valores</h2></u>
    <p class="Valores"> Establecer las tareas de mantenimiento más adecuadas para los vehículos de los clientes tomando como base estándares de calidad. <br>
      Proveer de una nueva forma de brindar los servicios de mecánica automotriz a domicilio debido al incremento de la población y 
      la gran demanda de automóviles  que se encuentran en la ciudad, Promocionar los servicios brindados por el taller mecánico  <br>
      MONOS GRASIENTOS con el fin de darlo a conocer y crear confianza por parte de sus clientes y futuros clientes de dicho taller.

      <br>
      -Compromiso .- Cumpliendo en tiempo y forma con las expectativas de nuestros clientes. <br>
      -Honestidad .- Garantizando la buena calidad del trabajo así como las refacciones utilizadas. <br>
      -Respeto .- Conduciéndonos de una manera equitativa y respetuosa ante nuestros semejantes. <br>
      -Lealtad .- Guiándonos de manera fiel ante nuestros socios comerciales, empleados y accionistas.</p>
    </p>
    <u><h2>Ubicación</h2></u>
    <br>
    <p class="ubi">
      Nos encontramos en Av. Portugal 1606, Santiago, Región Metropolitana <br>
      Para mayor especificación diríjase a --> <a href="{% url 'API' %}"><button type="button" class="btn btn-outline-secondary">Mapa</button></a>
    </p>
  </div>

{% endblock %}