{% extends 'core/base.html' %}

{% load static %}

{% block content %}

<hr>
  <div id="carouselExample" class="carousel slide" >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'app/Imagenes/carru_1.jpg' %}" class="container d-block w-50" alt="..."  >
      </div>
      <div class="carousel-item">
        <img src="{% static 'app/Imagenes/carru_2.jpg' %}" class="container d-block w-50" alt="..." >
      </div>
      <div class="carousel-item">
        <img src="{% static 'app/Imagenes/f_1.jpg' %}" class="container d-block w-50" alt=".." >
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <hr>
  <div class="p_index">
    <table class="table table-bordered">
      <u><h2>¿Qué estudia la mecánica automotriz?</h2></u>
      <br>
      <p>La mecánica automotriz es un tipo de mecánica que se encarga fundamentalmente de estudiar y analizar cómo se genera  <br>
        y se transmite el movimiento en un vehículo. Quiere esto decir que se trata de una rama que estudia tanto los principios de la mecánica <br>
        como los de la física,atendiendo especialmente a los elementos que rodean la generación y transmisión de movimiento en el vehículo.
      </p>
      <br>
      <p>Es la encargada, además, de estudiar y analizar algunos de los componentes del vehículo y que tienen como principal fin la transmisión y generación de movimiento. <br>
        Ya que se trata de la rama que analiza el comportamiento del movimiento del vehículo, entre los elementos que estudia se halla el motor. Sin ir más lejos, <br>
        este es el protagonista indiscutible de la fuerza que propicia el movimiento del vehículo, la parte central en donde se genera y se transmite todo lo necesario para que el coche pueda desplazarse de forma correcta. 
      </p>

    </table>
  </div>      
  <hr>

  <div class="porta1">
    <img class="imagen1 img-fluid " src="{% static 'app/Imagenes/p_2.jpg' %}" alt="">
    <img class="imagen3 img-fluid " src="{% static 'app/Imagenes/f_2.jpg' %}" alt="">
  </div>


{% endblock %}