{% extends 'core/base.html' %}

{% load static %}

{% block content %}

<hr>
  <div class="container text-center">
    <u><h2>Fotos tomadas en el taller</h2></u>
    <br>
    <div class="row align-items-start">
      <div class="col-sm-6">
        <div class="contenedor">
          <figure>
            <img src="{% static 'app/Imagenes/f_3.jpg' %}" alt="">
            <div class="capa">
              <h2>Arreglando direccional</h2>
              <p>Nuestro compañero de trabajo especializado en suspención y direccionales esta dandole una mantención a la dirección de este auto</p>
            </div>
          </figure>

        </div>
      </div>
      <div class="col-sm-6">
        <div class="contenedor">
          <figure>
            <img src="{% static 'app/Imagenes/f_4.jpg' %}" alt="">
            <div class="capa">
              <h2>Revisión del arreglo</h2>
              <p>Se revisa toda la parte electrónica del motor del auto el cual tenemos a un compañero especializado en electrónica</p>
            </div>
          </figure>

        </div>
      </div>
      <div class="col-sm-6">
        <div class="contenedor">
          <figure>
            <img src="{% static 'app/Imagenes/galle_2.jpg' %}" alt="">
            <div class="capa">
              <h2>Revisión de aceite</h2>
              <p>Nuestro mecánicos estan capacitados para poder reconocer el cambio del aceite en un buen momento</p>
            </div>
          </figure>

        </div>
      </div>
      <div class="col-sm-6">
        <div class="contenedor">
          <figure>
            <img src="{% static 'app/Imagenes/galle_3.webp' %}" alt="">
            <div class="capa">
              <h2>Ajustes de filtro de aire</h2>
              <p>El ajuste en el filtro de aire lo puede realizar cualquiera de nuestros mecánicos y le garantizamos que funcionará correctamente</p>
            </div>
          </figure>

        </div>
      </div>
      <div class="col-sm-6">
        <div class="contenedor">
          <figure>
            <img src="{% static 'app/Imagenes/galle_5.jpg' %}" alt="">
            <div class="capa">
              <h2>Configuración de la computadora</h2>
              <p>Nuestro especialista en electrónica se encarga de configurar bien completamente la computadora del automovil</p>
            </div>
          </figure>

        </div>
      </div>
      <div class="col-sm-6">
        <div class="contenedor">
          <figure>
            <img src="{% static 'app/Imagenes/galle_6.jpg' %}" alt="">
            <div class="capa">
              <h2>Revisión eléctrica</h2>
              <p>Nuestro especialista en electrónica revisa el cableado y las conecciones del automovil para corroborar que esten en perfecto estado</p>
            </div>
          </figure>

        </div>
      </div>
      <div class="col-sm-6">
        <div class="contenedor">
          <figure>
            <img src="{% static 'app/Imagenes/galle_8.jpg' %}" alt="">
            <div class="capa">
              <h2>Comprobando la falla</h2>
              <p>Todos nuestros especialistas corroboran que no haya falla luego de terminar alguna revisión o cambio de alguna pieza que comprometa a mas partes del automovil</p>
            </div>
          </figure>

        </div>
      </div>
      <div class="col-sm-6">
        <div class="contenedor">
          <figure>
            <img src="{% static 'app/Imagenes/gallery.jpg' %}" alt="">
            <div class="capa">
              <h2>Verificando voltaje</h2>
              <p>El especialista en electrónica siempre, antes y después de alguna intervención en el automovil, debe verificar si el voltaje es el correcto</p>
            </div>
          </figure>

        </div>
      </div>
    </div>

  </div> 


{% endblock %}